body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.logo{
    width:15vw;
    height:20vh;
}
header{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#toggle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    right: 5%;
}