body,html{
    padding:0;
    margin: 0;
    height: 101vh;
    width: 101vw;
    overflow: hidden;

}
#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}
.close-menu{
   position: fixed;
   top:50px;
   left:1000px;
   
}
.close-menu>p{
    position: relative;
    bottom:90px;
    left:310px;
    font-size: 2em;
  
}
.menu-affichage{
    height: 65vh;
    width: 65vw;
    background-color: #1E1E1E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}
.menu-section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 4em;
    margin: 0;
}
.number-menu{
    font-size: 2em;
    opacity: 1;
    color: #575454;
}
hr{
    margin: 0;
    height: 3px;
    background-color: white;
    transform-origin: center left;
}
.selection{
    opacity: 1;
}
.selection:hover{
    color:#E51E1C;
}

button{
    height: 10vh;
    width: 10vw;
    color: white;
    background-color: #575454;
    border: 1px solid white;
}
button:hover{
    color: #1E1E1E;
}

@media screen and (max-width:600px) {
    h2{
        font-size: 2em;
    }
    
}
@media screen and (max-width:1500px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:500px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:1000px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:200px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:500px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:-20px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:400px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:-80px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:300px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:-150px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}