*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color: #1E1F1F;
    color: white;
}
.h2-joindre{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 3.5em;
}
#map-container {
    width: 650px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    border: 2px solid #ccc; /* Set a border color */
    border-radius: 8px; /* Set border radius for a rounded appearance */
    overflow: hidden; /* Hide any content that might overflow the container */
  }
  
  /* Style the iframe itself */
  #map-container iframe {
    width: 100%;
    height: 100%;
    border: 0; /* Remove the default iframe border */
  }
  .upper-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .adresse-etc{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 6em;
    margin-left: 1.5em;
  }
  .infos{
    font-size: 22px;
    height: 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .infos:first-child{
    height: 4em;
  }
  .lower-footer{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .footer-logo{
    width: 400px;
    margin-left: 4em;
    margin-right: 3em;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12em;
    height: 15em;
  }
  ul li{
    list-style: none;
   
  }
  ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
   
  }
  .copyright{
    background-color: #1E1F1F;
    color: white;
    font-size: large;
    font-weight: 200;
   position: relative;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: white solid 3px;
    
      
}
.droit{
    margin-left: 2em;
}
.confection{
    margin-right: 2em;
}
.confection span{
    color: red;
}

  @media screen and (max-width: 580px) {
    #map-container{
        width: 250px; /* Set your desired width */
        height: 250px;
    }
    .h2-joindre{
        font-size: 1.3em;
    }
    .upper-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .footer-logo{
        width: 200px;
        margin-left: 1em;
        margin-right: 2em;
      }
      ul li a{
        font-size: 20px;
      }
      .infos{
        font-size: 18px;
        height: 2.5em;
      }
      .adresse-etc{
        height: 12em;
      }
      
      .lower-footer{
        margin-top: 1em;
        padding: 8px;
      }
      .h2-joindre{
        margin-bottom: 2.5em;
      }
      .confection{
        margin-right: 0;
    }
      
    
  }
  @media screen and (max-width: 650px) {
    #map-container{
      width: 500px; /* Set your desired width */
      height: 350px;
  }
  ul li a{
    color: white;
    text-decoration: none;
    font-size: large;
   
  }
  ul{
    margin-right: 2em;
  }
  .footer-logo{
    width: 200px;
    margin-left: 3em;
    margin-right: 4em;
    
  }
  @media screen and (max-width: 500px) {
    #map-container{
      width: 375px; /* Set your desired width */
      height: 200px;
  }
  .h2-joindre{
    margin-bottom: 1.5em;
}
  .footer-logo{
    width: 200px;
    margin-left: 1em;
    margin-right: 2em;
    
  }
  .copyright{
    font-size: 14px;
  }
  .droit{
    margin-left: 1em;
}
.confection{
  margin-left: 1.5em;
    margin-right: 1em;
}
  }
}