*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body,html{
    overflow-x: hidden;
}
/*navigation*/

.logo{
    height: 115px;
}
header{
    width: 100vw;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
   
}
#toggle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 3%;
}

@media screen and (max-width: 500px) {
    .logo {
      height: 80px;
    }
  }

  /*section-1*/
  .circle-background{
    height: 1100px;
    width: 1000px;
    background-color: #E41E1D;
    position: absolute;
    z-index: -1;
    bottom: -10%;
    left: 50%;
    border-radius: 50%;
    
  }
  
.section-1{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.accueil{
    height: 60vh;
    width: 100vw;

    margin-right: 1%;
    margin-left: 1%;

    display: flex;
    display: row;
    justify-content: center;

    /*separation des deux element accueil info et bicycle container*/
    gap:10%
}
.accueil-info{
    
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 40vw;
    margin-left: 1%;
    /*gsap*/
    opacity: 1;
   
}
.accueil-info>div{
    margin-bottom: 5%;
}
.accueil-info>div>h1{
    margin: 0;
    font-size: 3em;
}
.accueil-info>p{
    font-size: 1.2em;
}
.ligne-bienvenue{
    height: 2px;
    width: 200px;
    background-color: #E41E1D;
}

.bicycle-container{
    width: 400px;
    height: 300px;
    margin-right: 1%;
    position: relative;
    bottom: 30px;
    /*gsap*/
    
}
.bicycle-img{
    height: 100%;
    width: 100%;

}
.scroll-circle{
    height:55px;
    width: 40px;

   
    border: 2px solid red;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 10%;
    bottom: 60px;
    


}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E41E1D;
}
.scroll-container>p{
    position: relative;
    left: 11%;
    bottom: 60px;
    
}
.scroll-container{
   width: 100vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
/*
@media screen and (min-width: 1700px) {
   .accueil-info{
        position: relative;
        top:15%;
    }
    .accueil-info>div>h1 {
        margin: 0;
        font-size: 7rem;
    }
    .accueil-info>p {
        font-size: 2em;
    }
    .bicycle-container{
        width: 1000px;
        height: 500px;
        margin-right: 1%;
        position: relative;
        top:15%;
        
    }
    .bicycle-img{
        height: 100%;
        width: 100%;
    
    }
    .ligne-bienvenue{
        height: 2px;
        width: 500px;
        background-color: #E41E1D;
    }
  }
  */

  /*
  section-1 responsive
  */
  @media screen and (max-width: 800px){
    .section-1{
        height: 90vh;
        width: 100vw;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 15%;
    }
    .accueil{
        height:90vh;
        width: 100vw;
    
        margin-right: 1%;
        margin-left: 1%;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
        /*separation des deux element accueil info et bicycle container*/
        gap:0%
    }
    .accueil-info{
    
        display: flex;
        flex-direction: column;
        
        height: 100%;
        width: 80vw;
        margin-left: 1%;
        margin-top: 10%;
        /*gsap*/
        opacity:1
    }
    .accueil-info>div{
        margin-bottom: 5%;
    }
    .accueil-info>div>h1{
        margin: 0;
        font-size: 2em;
    }
    .bicycle-container{
        width: 200px;
        height: 100px;
        margin-right: 1%;
        /*gsap*/
        
    }
    .bicycle-img{
        height: 100%;
        width: 100%;
    
    }
  }
  /*section 1 grand*/
  @media screen and (min-width: 1700px){
    .circle-background{
        height: 2000px;
        width: 1900px;
        background-color: #E41E1D;
        position: absolute;
        z-index: -1;
        bottom: 10%;
        left: 49%;
        border-radius: 50%;
        
      }
      .accueil-info>h1{
        margin: 0;
        font-size: 5em;
    }
    .accueil-info>p{
        font-size: 2em;
    }
    .ligne-bienvenue{
        height: 2px;
        width: 200px;
        background-color: #E41E1D;
    }
    




      .bicycle-container{
        width: 700px;
        height: 600px;
        margin-right: 1%;
        position: relative;
        bottom: 100px;
        /*gsap*/
        
    }
    .bicycle-img{
        height: 100%;
        width: 100%;
    
    }
    .scroll-circle{
        
        left: 12%;
        bottom: 60px;
        
    
    
    }

    .scroll-container>p{
        position: relative;
        left: 13%;
        bottom: 60px;
        
    }
    .scroll-container{
       width: 100vw;
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
}
    /*

  }


/*preloader*/

.preloader{
    z-index: 10000;
    pointer-events: none;
    opacity: 1;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    opacity: 0;
    display: none;
    min-width: 100vw;
   min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.number-loading{
    font-size: 5vw;
    opacity: 0;
}


.velo-animation{
    display: flex;
    flex-direction: row;
}
.bike-ani{
   /* height: 60vh;*/
   /* width: 50vw;*/
    position: relative;
    top:12%;
    left: 15%;
}
.wind-line-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 15%;
}
.wind-line-1,.wind-line-2,.wind-line-3,.wind-line-4{
    position: relative;
    height: 5px;
    width: 20vw;
    background-color: black;
    border-radius: 30%;
}
.wind-line-1{
    left: -150%;
    transform-origin: center right;
    opacity: 1;
}

.wind-line-2{
    left: -250%;
    transform-origin: center right;
    opacity: 1;
}
.wind-line-3{
    left: -70%;
    transform-origin: center right;
    opacity: 1;
}
.wind-line-4{
    left: -120%;
    transform-origin: center right;
    opacity: 1;
}
/*menu*/
/*
#square-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;
    position: absolute;
}
.square{
   
    width: 100px;
    height: 100px;
    background-color:#fd552f;
    box-sizing: border-box;
    pointer-events: none;
}
.content-overlay{
    position:fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    
    justify-content:center;
    align-items:center;
    gap:5em;
    background: #231F20;
    color: #fff;
    z-index: -1;
   
}
.content-overlay h1{
    color:#fd552f;
    font-size: 4vw;
}
.content-overlay .nav-link{
    display: flex;
    flex-direction: column;
    font-family: "RM Mono";
}
.content-overlay .nav-link span{
    position: relative;
    top: 0.3em;
}
.content-overlay .nav-link a{
    padding:0 1em;
    font-size:2em;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/*menu 2*/

.menu-open{
   
   /* background-color:#231F20;*/
   background-color: rgba(229, 30, 28, 1);;
    border-radius:100px;

    position:fixed;
    top:50%;
    left:50%;
    z-index: 10000;
}
.menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #1E1E1E;*/
    background-color: rgba(229, 30, 28, 0.93);;
}
.content-overlay{
    z-index: 10001;
    display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    
    color: #fff;
    height: 50vh;
    width: 50vw;

    /*gsap*/
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

/*menu affichage*/

.close-menu{
    position: relative;
   bottom:20%;
    left:75%;
    
 }
 .close-menu>p{
     position: relative;
     bottom:90px;
     left:310px;
     font-size: 2em;
   
 }
 .menu-affichage{
     height: 65vh;
     width: 65vw;
    /* background-color: #1E1E1E;*/
    background-color: rgba(229, 30, 28, 0.93);;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 
     
 }
 .menu-section-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 h2{
     font-size: 4em;
     margin: 0;
 }
 h2>a{
    text-decoration: none;
    color: white;
 }
 h2>a:link {
    color:white;
 }
 .number-menu{
     font-size: 2em;
     opacity: 1;
     color: #575454;
 }
 hr{
     margin: 0;
     height: 3px;
     background-color: white;
     transform-origin: center left;
 }
 .selection{
     opacity: 1;
     cursor: pointer;
 }
 .selection>a:hover{
     /*color:#E51E1C;*/
     color: #1E1E1E;
 }
 
 button{
     height: 10vh;
     width: 10vw;
     color: white;
     background-color: #575454;
     border: 1px solid white;
 }
 button:hover{
     color: #1E1E1E;
 }
 
@media screen and (max-width:800px) {
    h2>a{
        font-size: 1em;
    }
    .selection{
        text-align: right;
    }
    
    .content-overlay{
        width: 70vw;
        left:15%
    }
    .close-menu{
        bottom:30%
    }
}
/*
@media screen and (max-width:1500px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:500px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:1000px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:200px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
*/
@media screen and (max-width:800px) {
    .close-menu{
        position: relative;
       bottom:50%;
        left:40%;
        
     }
   
}
@media screen and (max-width:550px) {
    .close-menu{
        position: relative;
       bottom:50%;
        left:20%;
        
     }
   
}
@media screen and (max-width:400px) {
    .close-menu{
        position: relative;
        bottom:30%;
        left:-50%;
        
     }
   
}
/*section 2 titre*/
.section-2-titre{
   padding-top: 20%;
   padding-bottom: 20%;/*change le value pour plus petit*/
   padding-left: 5%;
   padding-right: 5%;
   text-align: center;
   width: 100vw;
   height: 30vh;
   opacity: 1;
    font-size: 1.5em;
    font-weight: 300;
}
/*section responsive */
@media screen and (max-width:800px) {
    h2 {
        font-size: 2em;
        margin: 0;
    }
    .section-2-titre{
        padding-top: 20%;
        padding-bottom: 20%;/*change le value pour plus petit*/
           padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        width: 100vw;
        height: 30vh;
        opacity: 1;
         font-size: 1.5em;
         
     }
    
}

 
/*section 2 content*/
 .circle-background-2{
    height: 1700px;
    width: 1500px;
    background-color: #E41E1D;
    position: absolute;
    z-index: -100;
    top:190%;
    right:40%;
    
    border-radius: 50%;
    
  }

.middle-container{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}


.card{
   /* width: 30vw;*/
   width: 400px;
    height: 70vh;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 6px 2px 2px rgb(66, 66, 66);
    margin-bottom: 20%;
    margin-top: 30%;
    background-color: white;
}

.red-line{
    margin-bottom: 13px;
    border: none;
    height: 2.5px;
    color: red; 
    background-color: red;
    width: 72%;

}
.card-description{
    margin-left: 5px;
    text-align: left;
    text-align: left;
    font-size: 1.4em;
}
.bike-gauche{
    width: 460px;
    height: 370px;
    align-self: center;
    position: relative;
   top: 10em;
}

@media screen and (max-width:800px) {
    .container-card{
        display: flex;
        width: 1000vw;
        justify-content: flex-start;
        height: auto;
        position: relative;
        /*left:-150%;*/
        right: 400%;
        gap:5%
    }
    .middle-container {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        margin: auto;
       
    }
    .card {
        width: 70vw;
        height: 40vh;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 6px 2px 2px rgb(66, 66, 66);
        margin-bottom: 0%;
        margin-top: 0%;
        /*gsap */
        opacity: 1;
    }
    .container-img{
        width: 100vw;
        height: 150px;
        display: flex;
        justify-content: center;
    }
    .container-img>img{
        height: 100%;
        width: 200px;
    }
    .bike-gauche{
        width: 460px;
        height: 370px;
        align-self: center;
        position: relative;
       top: 1em;
    }
}
/*section 3 grand*/

@media screen and (min-width: 1700px){
    .circle-background-2{
        height: 2500px;
        width: 2400px;
        background-color: #E41E1D;
        position: absolute;
        z-index: -100;
        top:190%;
        right:40%;
        
        border-radius: 50%;
        
      }
      .card{
        /* width: 30vw;*/
        width: 600px;
         height: 70vh;
         border: 1px solid black;
         padding: 5px;
         text-align: center;
         border-radius: 8px;
         box-shadow: 6px 2px 2px rgb(66, 66, 66);
         margin-bottom: 20%;
         margin-top: 30%;
         background-color: white;
     }
     .card>h3{
        font-size: 3em;
     }
     .card-description{
        font-size: 2em;
     }

}
/*section 3 titre*/
.section-3-titre{
    margin-top: 20%;
    padding-bottom: 15%;/*change le value pour plus petit*/
    text-align: center;
    width: 100vw;
    height: 10vh;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 300;
 }
/*section 3*/
.section-3{
    height: 80vh;
    width: 100vw;
}

.services {
    display: flex;
    justify-content: space-evenly;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    padding: 15px;
    border-radius: 30px;
    background: rgba(229, 30, 28, 0.93);
    opacity: 1;
    margin: 50px;
}

.services-item-header {
    display: flex;
    align-items: center;
     margin-right: 10px;
    justify-content: space-evenly;
    gap:5%
}

.services-item-header h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2em;
}

.services-item p {
    color: #fff;
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.1rem;
}

.services-item-header img {
    width: 51px;
    height: 51px;
    flex-shrink: 0;
}

.services-button{
  border-radius: 48px;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;

  color: #000;
  border: none;
    height: 50px;
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .10rem;

}
.services-button:hover {
  cursor: pointer;
}

/*section 3 responsive*/
@media screen and (max-width:800px) {
    .services {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:5%
    }
    .services-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70vw;
        height: 400px;
        flex-shrink: 0;
        padding: 15px;
        border-radius: 30px;
        background: rgba(229, 30, 28, 0.93);
    }
    .services-item-header{
        gap:5%
    }
    .services-item-header h2 {
        color: #fff;
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
    }
    .services-button{
        border-radius: 48px;
        display: inline-block;
        padding: 10px;
        background-color: #fff;
        transition: all .3s ease;
        position: relative;
        overflow: hidden;
        z-index: 1;
      
        color: #000;
        border: none;
        width: 100%;
        height: 50px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .10rem;
      
      }

}

@media screen and (min-width:1700px) {
    .services-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 500px;
        height: 600px;
        flex-shrink: 0;
        padding: 15px;
        border-radius: 30px;
        background: rgba(229, 30, 28, 0.93);
        opacity: 1;
        margin: 50px;
    }
    .services-item-header h2 {
        color: #fff;
        font-weight: 500;
        font-size: 2.5em;
        text-align: center;
    }
    .services-item p {
        color: #fff;
        padding: 10px;
        line-height: 1.5em;
        font-size: 1.5rem;
    }
    

}

/*section 4 titre*/
.section-4-titre{
    padding-top:15%;
    padding-bottom: 10%;/*change le value pour plus petit*/
    text-align: center;
    width: 100vw;
    height: 30vh;
    opacity: 1;
 }
 /*section 4*/
 
.footer-container{
    background-color: #1E1F1F;
    color: white;
}
.h2-joindre{
    display: flex;
    justify-content: center;
    
    font-size: 1.5em;
    font-weight: 300;
}
#map-container {
    width: 650px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    border: 2px solid #ccc; /* Set a border color */
    border-radius: 8px; /* Set border radius for a rounded appearance */
    overflow: hidden; /* Hide any content that might overflow the container */
  }
  
  /* Style the iframe itself */
  #map-container iframe {
    width: 100%;
    height: 100%;
    border: 0; /* Remove the default iframe border */
  }
  .upper-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .adresse-etc{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 6em;
    margin-left: 1.5em;
  }
  .infos{
    font-size: 22px;
    height: 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .infos:first-child{
    height: 4em;
  }
  .lower-footer{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .footer-logo{
    width: 400px;
    margin-left: 4em;
    margin-right: 3em;
  }
  .ul-nav-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12em;
    height: 15em;
    margin-bottom: 10px;
  }
  .ul-nav-footer li{
    list-style: none;
   
  }
  .ul-nav-footer li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
   
  }
  .copyright{
    background-color: #1E1F1F;
    color: white;
    font-size: large;
    font-weight: 200;
   position: relative;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: white solid 3px;
    
      
}
.droit{
    margin-left: 2em;
}
.confection{
    margin-right: 2em;
}
.confection span{
    color: red;
}

  @media screen and (max-width: 580px) {
    #map-container{
        width: 250px; /* Set your desired width */
        height: 250px;
    }
    .circle-background-2 {
        display: none;
    }
    .h2-joindre{
        font-size: 1.3em;
    }
    .upper-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .footer-logo{
        width: 200px;
        margin-left: 1em;
        margin-right: 2em;
      }
      .ul-nav-footer li a{
        font-size: 20px;
      }
      .infos{
        font-size: 18px;
        height: 2.5em;
      }
      .adresse-etc{
        height: 12em;
      }
      
      .lower-footer{
        margin-top: 1em;
        padding: 8px;
      }
      .h2-joindre{
        margin-bottom: 2.5em;
      }
      .confection{
        margin-right: 0;
    }
      
    
  }
  @media screen and (max-width: 650px) {
    #map-container{
      width: 500px; /* Set your desired width */
      height: 350px;
  }
  .ul-nav-footer li a{
    color: white;
    text-decoration: none;
    font-size: large;
   
  }
  .ul-nav-footer{
    margin-right: 2em;
  }
  .footer-logo{
    width: 200px;
    margin-left: 3em;
    margin-right: 4em;
    
  }
  @media screen and (max-width: 500px) {
    #map-container{
      width: 375px; /* Set your desired width */
      height: 200px;
  }
  .h2-joindre{
    margin-top: 1em;
    margin-bottom: 1em;
}
  .footer-logo{
    width: 200px;
    margin-left: 1em;
    margin-right: 2em;
    
  }
    .adresse-etc{
        line-height: 1.2em;
        height: 12em;
      }

  .copyright{
    font-size: 14px;
  }
  .droit{
    margin-left: 1em;
}
.confection{
  margin-left: 1.5em;
    margin-right: 1em;
}
  }
}