*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/*navigation*/

.logo{
    height: 115px;
}
header{
    width: 100vw;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
   
}
#toggle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 3%;
}

@media screen and (max-width: 500px) {
    .logo {
      height: 80px;
    }
  }

  /*section-1*/
  
.section-1{
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.accueil{
    height: 60vh;
    width: 100vw;

    margin-right: 1%;
    margin-left: 1%;

    display: flex;
    justify-content: center;

    /*separation des deux element accueil info et bicycle container*/
    gap:14%
}
.accueil-info{
    
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 50vw;
    margin-left: 1%;
}
.accueil-info>div{
    margin-bottom: 5%;
}
.accueil-info>div>h1{
    margin: 0;
    font-size: 3em;
}
.accueil-info>p{
    font-size: 1.2em;
}
.ligne-bienvenue{
    height: 2px;
    width: 200px;
    background-color: #E41E1D;
}
.bicycle-container{
    width: 400px;
    height: 300px;
    margin-right: 1%;
}
.bicycle-img{
    height: 100%;
    width: 100%;

}
.scroll-circle{
    height:55px;
    width: 40px;

   
    border: 2px solid red;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E41E1D;
}
.scroll-container>p{
    text-align: center;
    position: relative;
    bottom: 50px;
    right: 20px;
}
/*
@media screen and (min-width: 1700px) {
   .accueil-info{
        position: relative;
        top:15%;
    }
    .accueil-info>div>h1 {
        margin: 0;
        font-size: 7rem;
    }
    .accueil-info>p {
        font-size: 2em;
    }
    .bicycle-container{
        width: 1000px;
        height: 500px;
        margin-right: 1%;
        position: relative;
        top:15%;
        
    }
    .bicycle-img{
        height: 100%;
        width: 100%;
    
    }
    .ligne-bienvenue{
        height: 2px;
        width: 500px;
        background-color: #E41E1D;
    }
  }
  */

/*preloader*/

.preloader{
    z-index: 10000;
    pointer-events: none;
    opacity: 1;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    opacity: 0;
    display: none;
    min-width: 100vw;
   min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.number-loading{
    font-size: 5vw;
    opacity: 0;
}


.velo-animation{
    display: flex;
    flex-direction: row;
}
.bike-ani{
   /* height: 60vh;*/
   /* width: 50vw;*/
    position: relative;
    top:12%;
    left: 15%;
}
.wind-line-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 15%;
}
.wind-line-1,.wind-line-2,.wind-line-3,.wind-line-4{
    position: relative;
    height: 5px;
    width: 20vw;
    background-color: black;
    border-radius: 30%;
}
.wind-line-1{
    left: -150%;
    transform-origin: center right;
    opacity: 1;
}

.wind-line-2{
    left: -250%;
    transform-origin: center right;
    opacity: 1;
}
.wind-line-3{
    left: -70%;
    transform-origin: center right;
    opacity: 1;
}
.wind-line-4{
    left: -120%;
    transform-origin: center right;
    opacity: 1;
}
/*menu*/
/*
#square-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;
    position: absolute;
}
.square{
   
    width: 100px;
    height: 100px;
    background-color:#fd552f;
    box-sizing: border-box;
    pointer-events: none;
}
.content-overlay{
    position:fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    
    justify-content:center;
    align-items:center;
    gap:5em;
    background: #231F20;
    color: #fff;
    z-index: -1;
   
}
.content-overlay h1{
    color:#fd552f;
    font-size: 4vw;
}
.content-overlay .nav-link{
    display: flex;
    flex-direction: column;
    font-family: "RM Mono";
}
.content-overlay .nav-link span{
    position: relative;
    top: 0.3em;
}
.content-overlay .nav-link a{
    padding:0 1em;
    font-size:2em;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/*menu 2*/

.menu-open{
   
    background-color:#231F20;
    border-radius:100px;

    position:fixed;
    top:50%;
    left:50%;
    z-index: 10000;
}
.menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}
.content-overlay{
    z-index: 10001;
    display: none;
    position: fixed;
    top: 30%;
    left: 25%;
    color: #fff;
    height: 50vh;
    width: 50vw;

    /*gsap*/
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

/*menu affichage*/

.close-menu{
    position: relative;
   bottom:58%;
    left:75%;
    
 }
 .close-menu>p{
     position: relative;
     bottom:90px;
     left:310px;
     font-size: 2em;
   
 }
 .menu-affichage{
     height: 65vh;
     width: 65vw;
     background-color: #1E1E1E;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 
     
 }
 .menu-section-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 h2{
     font-size: 4em;
     margin: 0;
 }
 .number-menu{
     font-size: 2em;
     opacity: 1;
     color: #575454;
 }
 hr{
     margin: 0;
     height: 3px;
     background-color: white;
     transform-origin: center left;
 }
 .selection{
     opacity: 1;
 }
 .selection:hover{
     color:#E51E1C;
 }
 
 button{
     height: 10vh;
     width: 10vw;
     color: white;
     background-color: #575454;
     border: 1px solid white;
 }
 button:hover{
     color: #1E1E1E;
 }
 /*
@media screen and (max-width:600px) {
    h2{
        font-size: 2em;
    }
    
}
@media screen and (max-width:1500px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:500px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
@media screen and (max-width:1000px) {
    .close-menu{
        position: fixed;
        top:50px;
        left:200px;
        
     }
     .close-menu>p{
         position: relative;
         bottom:90px;
         left:310px;
         font-size: 2em;
       
     }
   
}
*/
@media screen and (max-width:800px) {
    .close-menu{
        position: relative;
       bottom:50%;
        left:40%;
        
     }
   
}
@media screen and (max-width:550px) {
    .close-menu{
        position: relative;
       bottom:50%;
        left:20%;
        
     }
   
}
@media screen and (max-width:400px) {
    .close-menu{
        position: relative;
       bottom:50%;
        left:-50%;
        
     }
   
}
/*section 2 titre*/
.section-2-titre{
   padding-top: 20%;
   text-align: center;
   width: 100vw;
   height: 30vh;
   opacity: 1;
}

 